body {
    font-family: Arial, sans-serif;
    background-color: #c09c9c;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eaf1ed;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

form {
    text-align: left;
}

label,
input,
select {
    display: block;
    margin-bottom: 10px;
    width: 35%; 
    

}

input,
select {
    height: 25px; 
}


button {
    padding: 10px 20px;
    background-color: #456f9b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1a8d4a;
}
